@import "semantic-ui";
@import "semantic-ui/collections/menu";
@import 'semantic-ui';

.fillinput{
	width: 90%;
}
.messageR{
	background: blue;
}

.topspace{
	margin-top:50px;
}
.chatmessage{
	height: 675px;
}
.chat{
	height: 450px;
}