<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>
</head>

<body>
<!--
<h2 class="ui center aligned header">
  <i class="circular comment brown "></i>
  Let's Chat!
</h2>
-->

<div class="containter topspace">
	<div class="ui two column grid topspace">
		<div class="twelve wide column">
			<div class="ui fluid card ">
				<div class="content">
				<div class="header invisibletext;">&nbsp;</div>	
				</div>
				<div class="content">
				<h4 class="ui sub header">Chatroom</h4>
				<div class="chatbox" style="padding-left: 15px">
					<div class="ui small feed chat ">
						  <div class="event" >
							    <div class="content ">
							      <div class="summary "  style="all:unset;">
							        <a>Jenny Hess</a>: Yooo bro whats up?
							        <div class="date">10 seconds ago
							        </div>
							      </div>
							    </div>
							  </div>				
						</div>				
				</div>

					</div>	
				  <div class="extra content">
				    <button class="ui button">Send</button>
					<div class="ui input fillinput">
					  <input type="text" placeholder="Search...">
					</div>
				  </div>

				</div>	
		</div>

		<div class="four wide column">
			<div class="ui fluid card">
			  <div class="content">
			    <div class="header">Online</div>
			  </div>
			  <div class="content">
			    <h4 class="ui sub header">Friends</h4>
			    <div class="ui small feed chat">
			      <div class="event">
			        <div class="content">
			          <div class="summary">
			             <a>Elliot Fu</a> 
			          </div>
			        </div>
			      </div>
			      <div class="event">
			        <div class="content">
			          <div class="summary">
			             <a>Stevie Feliciano</a> 
			          </div>
			        </div>
			      </div>
			      <div class="event">
			        <div class="content">
			          <div class="summary">
			             <a>Helen Troy</a> 
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			  <div class="extra content">
			    <button class="ui button">Leave Chat</button>
			  </div>
			</div>
		</div>

	</div>	
</div>




</body>


</html>
